@{
    Layout = null;

    var quotesList = new List<string>();
    var authorList = new List<string>();

    var quotesFile = Server.MapPath("~/quotes.txt");

    using (var reader = new StreamReader(quotesFile))
    {
        while (!reader.EndOfStream)
        {
            quotesList.Add(reader.ReadLine());
            authorList.Add(reader.ReadLine());
        }
    }

    Random rnd = new Random();


    int randomQuoteNumber = rnd.Next(0, quotesList.Count - 1);

    string randomQuote = quotesList[randomQuoteNumber];
    string randomAuthor = authorList[randomQuoteNumber];


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random Quote Machine</title>
</head>
<body>
    <h1>Random Quote Machine</h1>
    <div class="quote-text">
        @randomQuote
    </div>
    <div class="quote-author">
        @randomAuthor
    </div>
    <div class="button-new-quote">
        <input type="button" value="New Quote" onClick="window.location.reload()">
    </div>
</body>
</html>
