@using WebMatrix.Data
@{
    Layout = null;




    var db = Database.Open("SQLServerConnectionString");
    var selectQueryString = "SELECT TOP 1 * FROM Quotes ORDER BY NEWID()";




    string randomQuote = "";
    string randomAuthor = "";

    foreach (var row in db.Query(selectQueryString))
    {
        randomQuote = row.qoute;
        randomAuthor = row.author;
    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random Quote Machine</title>
</head>
<body>
    <h1>Random Quote Machine</h1>
    <div class="quote-text">
        @randomQuote
    </div>
    <div class="quote-author">
        @randomAuthor
    </div>
    <div class="button-new-quote">
        <input type="button" value="New Quote" onClick="window.location.reload()">
    </div>
</body>
</html>
