@using WebMatrix.Data
@{
    Layout = null;




    var db = Database.Open("SQLServerConnectionString");
    var selectQueryString = "SELECT TOP 1 * FROM Quotes WHERE isSelected = 0 ORDER BY NEWID()";




    string randomQuote = "";
    string randomAuthor = "";
    int randomQuoteId = 0;


    foreach (var row in db.Query(selectQueryString))
    {

        randomQuoteId = (int)row.Id;
        randomQuote = row.qoute;
        randomAuthor = row.author;

    }

    var resetStatusQueryString = "UPDATE Quotes SET isSelected = 0 WHERE isSelected = 1";
    db.Execute(resetStatusQueryString);

    var setQuoteStatusQueryString = "UPDATE Quotes SET isSelected = 1 WHERE Id = @0";
    db.Execute(setQuoteStatusQueryString, randomQuoteId);


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>Random Quote Machine</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <section id="quote-panel">
        <h2>
            @randomQuote
        </h2>
        <p>
            @randomAuthor
        </p>

        <a href="#" class="special-button" onClick="window.location.reload()">New Quote</a>

    </section>

</body>
</html>
