@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random Quote Machine</title>
</head>
<body>
    <h1>Random Quote Machine</h1>
    <div class="quote-text">
        do it from the heart or not at all.
    </div>
    <div class="quote-author">
        Jeanette Winterson
    </div>
    <div class="button-new-quote">
        <button id="new-quote">New Quote</button>
    </div>
</body>
</html>
